---
import { Image } from 'astro:assets';

import Web3commune from './logos/web.png';

const partners: any[] = [
  {
    name: 'Web3commune',
    images: Web3commune,
    width: 480,
    height: 60,
    link: '/',
  },
];
---

{
  partners.length > 0 ? (
    <section id="partners" class="rows">
      <div>
        <h2>Community Partners</h2>
      </div>
      <div class="partners">
        {partners.map(
          ({ name, images, width, height, link }) => (
            <a href={link}>
              <Image src={images}  width={width} height={height} alt={name} />
            </a>
          ),
        )}
      </div>
    </section>
  ) : null
}

<style>
  h2 {
    --stroke-color: var(--red);
  }
  .partners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  @media screen and (min-width: 768px) {
    .partners {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (min-width: 960px) {
    .partners {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  img {
    margin: 0;
  }
</style>
