---
import { Image } from 'astro:assets';

import { year } from '@src/data/date';
import Logo from './fossconf.svg';

const links = [
  { href: '/discord', title: 'Discord' },
  { href: 'https://twitter.com/fosscuk', title: 'Twitter' },
  { href: 'https://www.instagram.com/fosscuk', title: 'Instagram' },
  { href: 'https://github.com/fosscu-community', title: 'GitHub' },
];

const readmore = [
  {
    href: 'https://docs.fosscu.org/',
    title: 'About FOSSCU',
  },
  { href: 'https://fosscu.org/home', title: 'fosscu.org' },
  { href: 'https://github.com/FOSS-Community/', title: 'Contribute' },
  { href: 'https://lu.ma/fosscu', title: 'Calendar' },
];

const codeofcoduct = [
{ href: '/diversity', title: 'Diversity at FOSSConf' },
  { href: '/faq', title: 'FAQ' },
  { href: '/coc', title: 'Code Of Conduct' },
  {
    href: 'https://docs.fosscu.org/Docs/values',
    title: 'Core Values',
  },
];
---

<div class="footer">
  <div>
    <h4 style="color: var(--yellow);">Connect</h4>
    <ul>
      {
        links.map(({ href, title }) => (
          <li>
            <a href={href} target="_blank" rel="noreferrer noopener">
              {title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div>
    <h4 style="color: var(--green)">What is FOSSCU</h4>
    <ul>
      {
        readmore.map(({ href, title }) => (
          <li>
            <a
              href={href}
              target={href.startsWith('https://') ? '_blank' : '_self'}
              rel="noreferrer noopener"
            >
              {title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div>
    <h4 style="color: var(--red)">Read More</h4>
    <ul>
      {
        codeofcoduct.map(({ href, title }) => (
          <li>
            <a
              href={href}
              target={href.startsWith('https://') ? '_blank' : '_self'}
              rel="noreferrer noopener"
            >
              {title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="branding">
    <Image src={Logo} alt={`FOSSConf India ${year}`} />
    <div class="copyright">Proudly Open Source</div>
  </div>
</div>

<style>
  .footer {
    background: #222a2a;
    padding: 4rem var(--padding);
  }

  .branding {
    text-align: center;
    margin-top: 3.375rem;
  }

  img {
    margin-bottom: 1.625rem;
    max-width: 100%;
  }

  .copyright {
    font-size: 1.125rem;
    font-weight: 300;
  }

  h4 {
    white-space: nowrap;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.625rem;
    line-height: 2;
  }

  .footer > div {
    margin-bottom: 2rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 0.8rem;
  }

  a {
    --link-color: #accec8;
    --hover-link-color: #fff;
  }

  @media screen and (min-width: 768px) {
    .footer {
      display: flex;
      align-items: start;
      flex-wrap: wrap;
    }

    .footer > div:not(.branding) {
      margin-right: 4rem;
    }

    .copyright {
      text-align: left;
      white-space: nowrap;
    }
    .branding {
      margin-top: 1rem;
      margin-left: auto;
    }
  }
</style>
