---
import { Image } from 'astro:assets';
import { textToHtml } from '@src/utils/text-to-html';

import solanaLogo from './logos/solanaLogo.svg';
import googleLogo from './logos/googleLogo.png';

const sponsors: Array<{
  title: string;
  size: number;
  sponsors: Array<{
    link: string;
    image: ImageMetadata;
    name: string;
    description: string;
    style?: string;
  }>;
}> = [
  {
    title: 'Platinium Sponsors',
    size: 400,
    sponsors: [
      {
        link: 'https://solana.com/',
        image: solanaLogo,
        name: 'Solana Foundation',
        description:
          '',
      },
      {
        link: "https://google.com",
        image: googleLogo,
        style: "padding:1rem;background:transparent;",
        name: 'Google'
      },
    ],
  },
  // {
  //   title: "Gold Sponsors",
  //   size: 600,
  //   sponsors: [
  //     { link: "", image: googleLogo },
  //     {
  //       link: "",
  //       image: googleLogo,
  //       style: "padding:1rem;background:white;",
  //     },
  //   ],
  // },
];
---

{
  sponsors.length > 0 ? (
    <section id="sponsors" class="rows">
      <div>
        <h2>Sponsors</h2>
      </div>
      <div>
        {sponsors.map((category) => {
          return (
            <div class="row">
              {category.title ? (
                <div class="title">{category.title}</div>
              ) : null}
              <div>
                {category.sponsors.map((sponsor) => (
                  <div>
                    <a
                      href={sponsor.link}
                      target="_blank"
                      rel="noreferrer noopener"
                      style={`display:inline-block;max-width:${category.size}px`}
                    >
                      <Image
                        src={sponsor.image}
                        alt={sponsor.name}
                        style={sponsor.style}
                        width={category.size}
                      />
                    </a>
                    <div set:html={textToHtml(sponsor.description)} />
                  </div>
                ))}
              </div>
            </div>
          );
        })}
      </div>
    </section>
  ) : null
}

<style>
  h2 {
    --stroke-color: var(--yellow);
  }
  .row {
    margin-bottom: 2rem;
  }
  @media screen and (min-width: 768px) {
    .row {
      margin-bottom: 3rem;
    }
  }
  .title {
    margin: 1rem 0 2rem;
    text-transform: uppercase;
  }
  img {
    max-width: 100%;
  }
</style>
