---
import { Image } from 'astro:assets';
import { textToHtml } from '@src/utils/text-to-html.ts';
import solanaLogo from './logos/solanaLogo.svg';
import googleLogo from './logos/googleLogo.png';
import wormholeWhite from './logos/WormholeWhite.svg';
import xyzLogo from './logos/Vector.svg';
import taipy from './logos/taipy.png';

const sponsors: Array<{
  title: string;
  size: number;
  sponsors: Array<{
    link: string;
    image: ImageMetadata;
    name: string;
    description: string;
    style?: string;
  }>;
}> = [
  {
    title: 'Platinium Sponsors',
    size: 600,
    sponsors: [
      {
        link: 'https://solana.com/',
        image: solanaLogo,
        name: 'Solana Foundation',
        description:
          'A blockchain platform with high scalablity while keeping costs low.',
      },
      {
        link: 'https://wormhole.com',
        image: wormholeWhite,
        style: 'padding:1rem;background:transparent;',
        name: 'Wormhole',
        description: 'A crosschain bridge.',
      },
    ],
  },
  {
    title: 'Gold Sponsors',
    size: 400,
    sponsors: [
      {
        link: 'https://www.taipy.io/',
        image: taipy,
        style: 'padding:1rem;background:transparent;',
        name: 'TaiPy',
        description: 'An open-source Python library for building production-ready web applications',
      },
      {
        link: 'https://google.com',
        image: googleLogo,
        style: 'padding:1rem;background:transparent;',
        name: 'Google',
        description: '',
      },
    ],
  },
  {
    title: 'In Kind Donation Sponsors',
    size: 300,
    sponsors: [
      {
        link: 'https://gen.xyz/',
        image: xyzLogo,
        name: '.xyz',
        description: '',
      },
    ],
  },
];
---

{
  sponsors.length > 0 ? (
    <section id="sponsors" class="rows">
      <div>
        <h2>Sponsors</h2>
      </div>
      <div>
        {sponsors.map((category) => {
          return (
            <div class="row">
              {category.title ? (
                <div class="title">{category.title}</div>
              ) : null}
              <div>
                {category.sponsors.map((sponsor) => (
                  <div>
                    <a
                      href={sponsor.link}
                      target="_blank"
                      rel="noreferrer noopener"
                      style={`display:inline-block;max-width:${category.size}px`}
                    >
                      <Image
                        src={sponsor.image}
                        alt={sponsor.name}
                        style={sponsor.style}
                        width={category.size}
                      />
                    </a>
                    <div
                      class="description"
                      set:html={textToHtml(sponsor.description)}
                    />
                  </div>
                ))}
              </div>
            </div>
          );
        })}
      </div>
    </section>
  ) : null
}

<style>
  h2 {
    --stroke-color: var(--yellow);
  }
  .row {
    margin-bottom: 2rem;
  }
  @media screen and (min-width: 768px) {
    .row {
      margin-bottom: 3rem;
    }
  }
  .title {
    margin: 1rem 0 2rem;
    text-transform: uppercase;
  }
  .description {
    color: rgb(122, 150, 150);
  }
  img {
    max-width: 100%;
  }
</style>
